NEXT_PUBLIC_STATUS_URL=https://statusnursing-edge.vercel.app/
MONGODB_URI=
SUPER_ADMIN_EMAIL=
RESEND_API_KEY=
EMAIL_FROM=Nursing Edge <beth.t@example.com>
ADMIN_ORIGIN=http://localhost:3001
ADMIN_SESSION_SECRET=
